@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap");

:root {
  // colors
  --light-red-color: hsl(0, 100%, 67%);
  --orangey-red-color: hsl(39, 100%, 56%);
  --green-teal-color: hsl(166, 100%, 37%);
  --cobalt-blue-color: hsl(234, 85%, 45%);

  --light-slate-blue-color: hsl(252, 100%, 67%);
  --light-royal-blue-color: hsl(241, 81%, 54%);
  --violet-blue-color: hsla(256, 72%, 46%, 1);
  --persian-blue-color: hsla(241, 72%, 46%, 0);

  --white-color: hsl(0, 0%, 100%);
  --pale-blue-color: hsl(221, 100%, 96%);
  --light-lavender-color: hsl(241, 100%, 89%);
  --dark-gray-blue-color: hsl(224, 30%, 27%);

  // color use
  --body-background-color: var(--white-color);
  --card-background-color: var(--white-color);
  --card-shadow-color: var(--pale-blue-color);
  --card-summary-background-color: var(--cobalt-blue-color);
  --card-summary-text-color: var(--white-color);
  --card-detail-background-color: var(--white-color);

  // fonts
  --font-family: "Hanken Grotesk", sans-serif;

  // default font size is 16px
  // we want 1rem to be 10px for easy calcs
  // using 62.5% instead of hardcoding 10px
  // still allows the user to change her browser default
  font-size: 62.5%;
}

body {
  background-color: var(--body-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 72rem;
  height: 48rem;
  margin-top: 2rem;
  background-color: var(--card-background-color);
  border-radius: 2rem;
  box-shadow: 2rem 2rem var(--card-shadow-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__summary {
    background-color: var(--card-summary-background-color);
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--card-summary-text-color);
    .card__summary--header {
      font-size: 2rem;
    }
    .card__summary--score-container {
      width: 50%;
      aspect-ratio: 1/1;
      border-radius: 100rem;
      background-image: linear-gradient(
        var(--violet-blue-color),
        var(--persian-blue-color)
      );
    }
    .card__summary--score {
      font-size: 3.6rem;
    }
    .card__summary--score-of {
      font-size: 1rem;
    }
    .card__summary--score-eval {
      font-size: 1rem;
    }
    .card__summary--score-comment {
      font-size: 1rem;
    }
  }
  &__detail {
    background-color: var(--card-detail-background-color);
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .card__detail--header {
      font-size: 1rem;
    }
    .card__detail--list {
      font-size: 1rem;
    }
    .card__detail--button {
      font-size: 1rem;
    }
  }
}
